<div class="center jumbotron">
  <h1>Alpha Blogger</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge", onclick: "ga('send', 'event', 'Account-New', 'SignUp', '' );" %>
</div>
