$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-family: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
}

.center{
	
	text-align: center;
}

.jumbotron{
	background-image: asset-url('image.jpg');
	background-size: cover;
	height: 550px;
}

.jumbotron h1{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge{
	font-size: 1.7em;
	background-color: black;
}

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover{
	color:#222;
}

footer small{
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 15px;
}

.articles-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;

}

.description{
	margin-top: 0;
}

.articles-title{
	font-weight: bold;
	font-size: 1.5em;
}

.articles-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.article-meta-details{
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

.listing{
	list-style: none;
	padding-left: 0;
}

.badge{
	background-color: #CEF6F5;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.input_checkbox input{
	width: auto !important;
}