<div class="container">
	<footer class="footer">
		<small>
			copyright &copy; <a href="niteshsharma.me">Nitesh Sharma</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				
			</ul>
		</nav>
	</footer>
</div>